<%- include('../partials/header.ejs') %>
<div>
  <div class="heading-container">
    <h1><%= entry.headword %></h1>
    <a class="btn btn-success" href="/entries/<%= entry._id %>/edit">Edit</a>
    <form action="/entries/<%= entry._id %>?_method=DELETE" method="post">
      <button class="btn btn-danger">
        Delete
      </button>
    </form>
    <button class="btn btn-info" id="api-req" lookup="<%= entry.headword %>">Look up</button>
  </div>
  <div id="api-entries">
    <% entryData.forEach((en, index) => { %>
      <div>
        <%= index + 1 %>
        <%= index != 0 ? 'results' : 'result' %>
      </div>
    <% }); %>
  </div>
  <div class="entry-body"><%= entry.bodyText %></div>
</div>
<%- include('../partials/footer.ejs') %>